.section {
  @media (max-width: 991.98px) {
    overflow: hidden;
  }
}

.title {
  margin-bottom: 2.5rem;
  padding-bottom: 1.25rem;
  border-bottom: 0.0625rem solid var(--color-dark);
}

.content {
  display: grid;
  grid-template-rows: 1fr 5fr 2fr 2fr;
  &.light {
    &::before {
      background: linear-gradient(90deg, rgba(40, 45, 59, 1) 0%, rgba(255, 255, 255, 0) 100%);
    }
    &::after {
      background: linear-gradient(-90deg, rgba(40, 45, 59, 1) 0%, rgba(255, 255, 255, 0) 100%);
    }
  }
  &::before {
    pointer-events: none;
    position: absolute;
    content: '';
    z-index: 2;

    top: 0;
    left: -0.9375rem;
    height: 100%;
    width: 1.875rem;
    background: linear-gradient(90deg, rgba(26, 30, 41, 1) 0%, rgba(255, 255, 255, 0) 100%);
  }
  &::after {
    pointer-events: none;
    position: absolute;
    content: '';
    z-index: 2;

    top: 0;
    right: -0.9375rem;
    height: 100%;
    width: 1.875rem;
    background: linear-gradient(-90deg, rgba(26, 30, 41, 1) 0%, rgba(255, 255, 255, 0) 100%);

    @media (max-width: 991.98px) {
      display: none;
    }
  }
}

.itemContainer {
  margin-bottom: 2.5rem;
  padding-bottom: 1.25rem;
  border-bottom: 0.0625rem solid var(--color-dark);
}
