.coinsContainer {
  background: #282d3b;
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding: 5px 18px;
  gap: 10px;
  margin-bottom: 54px;

  @media (max-width: 900px) {
    justify-content: center;
    align-items: center;
  }
}

.coinsNumberLabel {
  color: #fded01;
  font-weight: 600;
  font-size: 44px;
}

.labelColor {
  color: white;
}
