@mixin text {

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.section {
  min-height: 800px;
  padding: 0 0 20px 0;
  @media (max-width: 991.98px) {
    overflow: hidden;
  }
}

.title {

  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  /* identical to box height */

  text-transform: uppercase;

  color: #FFFFFF;

  @media (max-width: 991.98px) {
    text-align: center;
  }
}

.subTitle {
  @include text;
}

.rowGaps {
  margin: 50px 0;

  @media (max-width: 900px) {
    text-align: center;
    font-size: 17px;
  }
}

.statisticContainer {
  //padding: 30px 0;
}

.emptyHeader {
  height: 35px;
  width: 124px;
  border-right: 1px solid var(--color-dark);
  border-bottom: 1px solid var(--color-dark);

  @media (max-width: 991.98px) {
    display: none;
  }
}

.generalHeader {
  height: 45px;
  width: 124px;
  border-right: 1px solid var(--color-dark);
  display: flex;
  align-items: flex-end;
  justify-content: start;

  @media (max-width: 991.98px) {
    display: none;
  }
}

.characteristicGridTemplate {
  display: grid;
  grid-template-columns: 4fr 4fr 4fr 4fr 4fr;
  align-items: center;
  width: 800px;
  padding: 5px 0;

  h4 {
    text-align: center;

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
  }

  h3 {
    text-align: center;

    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    color: #96989D;

    @media (max-width: 991.98px) {
      font-size: 20px;
    }
  }
}

.borderBottom {
  border-bottom: 1px solid var(--color-dark);
}