.line {
  background-color: var(--color-dark);
  height: 0.0625rem;
  margin-bottom: 40px;
  margin-top: 30px;
}

.searchInputContainer {
  background: #282d3b;
  border-radius: 5px;
  input {
    font-size: 14px;
    border-color: #282d3b;
    &:focus {
      border-color: #282d3b;
    }
  }
}
