.section {
  @media (max-width: 991.98px) {
    overflow: hidden;
  }
}

.breadcrumbs {
  color: #A5ACBD
}

.container {
  display: flex;
  justify-content: space-between
}

.title {
  color: white
}

.tagsContainer {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.tag {
  border: 1px solid #A5ACBD;
  border-radius: 5px;
  padding: 5px;
  color: #A5ACBD;
  font-size: 14px;
}

.table {
  margin-bottom: 52px;
  width: 445px;
  border-collapse: collapse;
}

.th {
  color: #A5ACBD;
  font-weight: 400;
  text-align: left;
  width: 190px;
}

.td {
  color: white;
}

.commonTdTh {
  border-bottom: 1px solid #A5ACBD;
  padding: 10px 0;
}

.button {
  border: 1px solid #FFFFFF;
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding: 10px 15px;
  gap: 10px;
  background: transparent;
  color: white
}

.actions {
  display: flex;
  gap: 35px
}

.sub-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #FFFFFF;
}
