.filtersTitle {
  color: #a5acbd;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 35px;
}

.numberInput.numberInput {
  width: 60px;
  height: 30px;
  border: 1px solid #5e626c;
  margin-left: 15px;
}

.numberInputsContainer {
  display: flex;
  justify-content: space-between;
}
