.accordionTitle {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  color: #ffffff;
  .accordionTitleIcon {
    &.rotated {
      transform: rotate(180deg);
    }
  }
}

.accordionContent {
  padding-top: 22px;
}
