.table {
  margin-bottom: 52px;
  border-collapse: collapse;

  row-gap: 20px;
  width: 100%;

  tr {
    @media (max-width: 600px) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

    }
  }

}

.th {
  color: white;
  font-weight: 400;
  text-align: left;

  @media(max-width: 991.98px){
    font-size: 14px;
  }

  @media (max-width: 600px) {
    text-align: center;
    font-size: 14px;
  }
}

.td {
  color: white;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  @media (max-width: 600px) {
    justify-content: center;
    width: calc(100% - 2.5rem);
  }
}

.commonTdTh {
  padding: 20px 0;
}

.bottomBorder {
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid var(--color-light_grey);
}

.verticalAlign {
  vertical-align: top;
}

.tagsContainer {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  width: 600px;
  @media (max-width: 991.98px) {
    width: 100%
  }
}

.tag {
  border: 1px solid #A5ACBD;
  border-radius: 5px;
  padding: 5px;
  color: #A5ACBD;
  font-size: 14px;
}

.outlinedButton {
  background: #282D3B;
  border: 1px solid #282D3B;
}

.checkBoxesContainer {
  width: 80%;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  align-items: flex-start;
  margin-bottom: 20px;
}

.actionContainer {
  width: 80%;
  display: flex;
  column-gap: 30px;
}
